.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.zoloz-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  background-color: #F7FBFF;
}

.zoloz-topbar {
  display: flex;
  min-width: 100vw;
  align-content: flex-start;
  margin-top: 54px;
  font-weight: 500;
  align-items: center;

  .zoloz-icon-arrow-left {
    margin-left: 15px;
    height: 24px;
    margin-right: 5px;
  }

  .zoloz-topbar-title {
    display: inline-block;
  }
}